<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <style>
    .friend-comp{
    background: linear-gradient(rgb(241, 240, 240), rgb(200,200,200));
    padding: 10px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(233, 233, 233);
    transition: 0.3s ease;
    background: linear-gradient(rgb(241, 240, 240), rgb(235, 233, 233));
    }
    .friend-comp:hover{
    box-shadow: 8px 8px 8px rgb(184, 184, 184);
    }
    .text{
    font-size:      40px;
    font-weight:    bold;
    }
  </style>
  <body>
    <!-- <%- include('header.ejs') %> -->
    <div class="text">
        <img src="1.png" width="50" height="50"/> <%=username%>
      </div>
    <h4>Change your profile picture:</h4>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" vlaue = 'Change your profile picture'>
            <input type="submit" value="Upload Image">
        </form>
    
    <br><h1>This is your profile!</h1><br>
    <h3>These are your posts:</h3>
        <div class="friend-comp">
        <% for(var i=0; i<1; i++) {%>
           <%= my_posts[i] %>
           <br>
        <% } %>
            <ul>
            <% for(var i=1; i<my_posts.length; i++) {%>
               <li><%= my_posts[i] %></li>
               <br>
            <% } %>
          </ul>
        </div>
    <h3>These are your friends:</h3>
        <div class="friend-comp">
                <% for(var i=0; i<result[0].length ; i++){ %>
                    <div class="friend-comp">
                        <a href="/user/<%= result[0][i]['follow'] %>"><%= result[0][i]['follow'] %></a> 
                    </div>
                <% } %>
        </div>
  </body>
</html>